[core]
	excludesfile = /Users/eumir/.gitignore_global
	editor = /usr/local/bin/nvim
	attributesfile = /Users/eumir/.gitattributes
[pager]
	branch = false
[user]
	name = Eumir Gaspar
	email = eumirgaspar@gmail.com
[merge]
	tool = nvim
[diff "rspec"]
  xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario)[ \t].*)$"
